<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicDataTemplatesCS" version="1.0" />
  <package id="elmah" version="1.2.0.1" />
  <package id="elmah.corelibrary" version="1.2" />
  <package id="EntityFramework" version="4.1.10715.0" />
  <package id="EntityFramework.SqlServerCompact" version="4.1.8482.2" />
  <package id="jQuery" version="1.6.3" />
  <package id="jQuery.UI.Combined" version="1.8.16" />
  <package id="Massive" version="1.0" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
  <package id="unobtrusive.jquery.ui" version="0.1.1" />
  <package id="WebActivator" version="1.0.0.0" />
</packages>